@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  color: rgba(255, 255, 255, 0.9);
  background-color: #f8f3ed; /* Your desired background color */
  
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Lato", serif;
  font-weight: 100;
  font-style: normal; */
}
.global-container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}


h1{
  font-size: 4rem;
  line-height: 4rem;
  font-weight: bold;
}
h2{
  font-size: 2.7rem;
  font-weight: bold;
  line-height: 3.5rem;
}
@media(max-width: 768px) {
  h1{
    font-size: 2.5rem;
    line-height: 3.5rem;
 
  }
  h2{
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
p{
  line-height: 1.8rem;
}
.bg-dotted {
  border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
  
}
.bg-dotted-footer {
  border-bottom: 2px dotted #91765a;
  
}








